a,a:hover {
    color: whitesmoke

}

table{
    height:100px;
    background-color: red;
    border-top: 5px solid blue;
    width: 100%;
    color: black;
}

.spacer {
    margin-bottom: 10px;
}

.fa-react{
    margin-right: 5px;
}

.fa-github {
    margin-left: 5px;
}